.load-more {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.info {
    display: flex;
}

.info-item {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.info-item b {
    margin-bottom: 5px;
}