.load-more {
    display: none;
}

.photo-card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    /* Dodajemy właściwość display i ustawiamy inline-block */
    width: calc(25% - 20px);
    /* Ustawiamy szerokość kontenera, odejmując marginesy i przestrzeń między kontenerami */
    box-sizing: border-box;
}

/* Dodajemy styl dla kontenera informacji */
.info {
    display: flex;
    /* Ustawiamy kontener informacji jako flexbox */
    flex-wrap: wrap;
    /* Ustawiamy zawijanie wierszy */
}

/* Dodajemy styl dla pojedynczej informacji */
.info-item {
    flex: 0 0 50%;
    /* Elastyczność - każda informacja zajmuje równą przestrzeń na szerokość */
    box-sizing: border-box;
    /* Włączamy model pudełkowy */
    padding: 0 10px;
    /* Dodajemy wewnętrzny odstęp dla każdej informacji */
    text-align: center;
    /* Wyśrodkowanie tekstu */
}