.load-more {
    display: none;
}

.photo-card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info-item {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}